@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", sans-serif;
}

/* body {
    background: radial-gradient(circle, #020316, #020316);
} */

.container {
    width: 80%;
    margin: 0 auto;
}

/* header */

header {
    position: fixed;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 1000;
}

header img {
    width: 70px;
    border-radius: 20px;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* #one_section {
    background-image: url('/assets/imgs/Hiss-background-2.jpg');
    width: 100%;
    height: 100vh;
     background-size: auto; 
    background-position: right;
    background-repeat: no-repeat;
}  */

.nav__item a {
    display: block;
    padding: 1rem 1.1rem;
}

.nav__toggle {
    display: none;
}


/* header end */


.all_best_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: -1;
    right: 0;
    gap: 40px;
}

.hiss-best h1 {
    font-size: 90px;
    text-align: left;
    font-weight: 600;
    color: #020316;
}

.hiss-best h1::after {
    content: '"BEST"';
    font-size: 90px;
    text-align: left;
    font-weight: 600;
    color: #040d8a;
}

.hiss-best {
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    /* position: absolute; */
    height: 70vh;
}

@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 600px) {
    .nav__wrapper {
        display: flex;
    }
}

@media (max-width: 599px) {
    .nav__wrapper {
        position: absolute;
        top: -20%;
        right: 0;
        left: 0;
        z-index: -1;
        text-align: center;
        padding-top: 15px;
        background-color: #020316;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out; 

    }

    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: aliceblue;
    }
}

@media (max-width: 320px) {

    /* .nav__wrapper {
        width: 420px;
    } */

    .site-header {
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
    }

    .all_best_img img {
        width: 320px;
        /* height: 100vh; */
    }

    .hiss-best h1 {
        font-size: 60px;
        text-align: left;
        font-weight: 600;
        color: #FFF5F4;
    }

    .hiss-best h1::after {
        content: '"BEST"';
        font-size: 55px;
        text-align: left;
        font-weight: 600;
        color: #4149b9;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .all_best_img img {
        width: 375px;
        /* height: 100vh; */
    }
}

@media (max-width: 375px) {
    .site-header {
        width: 100%;
    }

    .hiss-best h1 {
        font-size: 69px;
        text-align: left;
        font-weight: 600;
        color: #FFF5F4;
    }

    .hiss-best h1::after {
        content: '"BEST"';
        font-size: 70px;
        text-align: left;
        font-weight: 600;
        color: #4149b9;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .all_best_img img {
        width: 425px;
        /* height: 100vh; */
    }
}

@media (max-width: 425px) {
    .site-header {
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 500px) {
    .all_best_img img {
        width: 768px;
        /* height: 100vh; */
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .all_best_img img {
        width: 768px;
        /* height: 100vh; */
    }
}

@media (max-width: 768px) {
    .site-header {
        width: 100%;
    }

    /* .all_best_img img {
        width: 768px;
        height: 100vh;
    } */
    /* #one_section {
        background-image: url('/assets/imgs/Hiss-background-2.jpg');
        width: 768px;
        height: 100vh;
        background-size: cover;
    } */
}